*.pyc
__pycache__/

.env
.venv
venv/
docs/*
cloud-functions-setasc/*
test/test_create_and_update_user.py
test/test_retrieve_user_info.py
.DS_Store
docs/.DS_Store
nai-setasc-credentials.json

# NASC-E specific
nasc-empresa/.env
nasc-empresa/venv/
nasc-empresa/__pycache__/
nasc-empresa/*.pyc
